img.img-responsive{
  max-height:45px;
}

a.navbar-brand.navbar-link{
  height:initial;
  margin:0;
  padding:0;
}

.navbar-nav >{
  padding-top:10px;
  padding-bottom:10px;
  line-height:20px;
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}
