<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>ordo.servlet.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehiculeControler</servlet-name>
        <servlet-class>ordo.servlet.VehiculeControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APILieuxController</servlet-name>
        <servlet-class>ordo.servlet.api.APILieuxController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAll</servlet-name>
        <servlet-class>ordo.servlet.DeleteAll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadController</servlet-name>
        <servlet-class>ordo.servlet.FileUploadController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APICalculateController</servlet-name>
        <servlet-class>ordo.servlet.api.APICalculateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APICalculateExperimentalController</servlet-name>
        <servlet-class>ordo.servlet.api.APICalculateExperimentalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APICalculateJspritController</servlet-name>
        <servlet-class>ordo.servlet.api.APICalculateJspritController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>APIGenerateController</servlet-name>
        <servlet-class>ordo.servlet.api.APIGenerateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MultiThreadTestController</servlet-name>
        <servlet-class>ordo.algo.multithread.MultiThreadTestController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehiculeControler</servlet-name>
        <url-pattern>/vehiculeControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APILieuxController</servlet-name>
        <url-pattern>/api/lieux</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadController</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAll</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APICalculateController</servlet-name>
        <url-pattern>/api/calculate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APICalculateExperimentalController</servlet-name>
        <url-pattern>/api/calculatewip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APICalculateJspritController</servlet-name>
        <url-pattern>/api/calculatejsprit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>APIGenerateController</servlet-name>
        <url-pattern>/api/generate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MultiThreadTestController</servlet-name>
        <url-pattern>/multithread</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>ordo.context.ServletContextListener</listener-class>
    </listener>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
</web-app>
